html {
  margin: 0;
  font-family: monospace;
}

body {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
}

#controls {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

header {
  display: block;
  font-size: 2vmax;
  font-weight: bold;
  padding: 1.5vmax;
}

#container {
  display: grid;
  background-color: rgba(0, 0, 0, 0.05);
}

/* portrait */
@media (max-aspect-ratio: 3/4) {
  body {
    flex-direction: column;
  }

  #container {
    width: 100vw;
    height: 100vw;
  }

  #controls {
    width: 100vw;
  }
}

/* short portrait */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
  body {
    flex-direction: column;
  }

  #container {
    width: 75vw;
    height: 75vw;
  }

  #controls {
    width: 75vw;
  }
}

/* narrow landscape */
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) {
  body {
    flex-direction: row;
  }

  #container {
    width: 75vh;
    height: 75vh;
  }

  #controls {
    flex-direction: column;
  }
}

/* landscape */
@media (min-aspect-ratio: 4/3) {
  body {
    flex-direction: row;
  }

  #container {
    width: 100vh;
    height: 100vh;
  }

  #controls {
    flex-direction: column;
  }
}