html {
  margin: 0;
  font-family: monospace;
}

body {
  height: 100vh;
  margin: auto;
  display: flex;
  max-width: 958px;
}

#panel {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: left;
}

header {
  display: block;
  font-size: 2vmax;
  font-weight: bold;
  padding: 1.5vmax;
}

#container {
  margin: auto;
  display: grid;
  background-color: rgba(0, 0, 0, 0.05);
  min-width: 70vh;
  height: 70vh;
}

#reset {
  display: flex;
}

#reset-btn {
  margin: 1vmax;
}

#side-count {
  margin: 1vmax;
}

#slider-label {
  margin: 1vmax;
  white-space: nowrap;
}